

 
<div class="container my-5 product-detail-container">
    <h1 class="text-center title-flower my-5"> Détails du produit </h1>
    
    <div class="row">
      <!-- Image du produit -->
      <div class="col-md-6 text-center">
        <!-- <img [src]="product?.image" class="img-fluid product-detail-img" alt="{{ product.nom }}"> -->
        <img *ngIf="product?.image" [src]="product?.image" alt="{{ product?.nom }}" class="img-fluid product-detail-img" />

        <!-- <img src="assets/images/flowerbox_luxe.jpg" class="img-fluid product-detail-img" > -->
      </div>
  
      <!-- Informations du produit -->
      <div class="col-md-6">
        <div class="product-detail-content">
          <h2 class="product-name">{{product?.nom}}</h2>
          <p class="product-description">{{product?.description}}</p>
          <p class="product-price">{{product?.prix}}</p>
          <button class="btn btn-flower">Ajouter au panier</button>
        </div>
      </div>
    </div>
  </div>
  