
<ng-content >
  <h2 class="text-center mb-4">Modifier le Produit</h2>
<div class="container floral-form">
  <form (ngSubmit)="updateProduct()">
    <!-- Nom -->
    <div class="form-group">
      <label for="nom">Nom du Produit</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="nom"
        name="nom"
        required
      />
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        [(ngModel)]="description"
        name="description"
        rows="3"
        required
      ></textarea>
    </div>

    <!-- Prix -->
    <div class="form-group">
      <label for="prix">Prix (€)</label>
      <input
        type="number"        
        class="form-control"
        [(ngModel)]="prix"
        name="prix"
        required
      />
    </div>

    <!-- Image -->
    <div class="form-group">
      <label for="image">Image du Produit</label>
      <input type="file" id="image" class="form-control-file" />
      <img *ngIf="image" [src]="image" alt="Aperçu de l'image" class="preview-img mt-3" />
    </div>

    <!-- Boutons -->
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-success" (click)="updateProduct()">
        Enregistrer
      </button>
     
    </div>
  </form>
</div>
</ng-content>

