.topbar {
    background-color: #212529;
    padding: 5px 0;
     
  }

  
  .topbar .social-network {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  .topbar .social-network li {
    display: inline-block;
    margin-left: 10px;
  }
  .topbar .social-network li a {
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
  }
  a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
    margin-left: 19px;
  }

  .topbar .social-network li a:hover {
    color: #1bbde8;
  }
  
  /* Style pour le navbar */
  .mx-background-top-linear {
    background: linear-gradient(45deg, #9e7b0f, #495128, #a5975b, #d8cd38 48%, #1b1e21 48%);
  }
  .navbar-brand {
    text-transform: uppercase;
  }
  
   /* --------------logo-------------- */
.logo {
    background: linear-gradient(45deg, #ffffff, #dcb0cb, #bcb683);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-family: "Great Vibes", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px !important;
    text-decoration: none;
  }

  /* Assurer que le dropdown s'adapte bien */
.navbar .dropdown-menu {
  min-width: 180px; /* Largeur minimale */
  max-width: 200px; /* Largeur maximale */
  overflow: hidden; /* Empêche le dépassement */
  white-space: nowrap; /* Empêche le retour à la ligne */
}

/* Corriger les éléments du menu */
.navbar .dropdown-menu .dropdown-item {
  padding: 4px 15px; /* Ajuste le padding */
  font-size: 16px; /* Assure une taille uniforme */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Empêcher le survol de modifier la taille */
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #a44545 ;
  width: 100%; /* Assure que le hover ne change pas la taille */
}

/* Ajuster l'ombre et le border-radius */
.navbar .dropdown-menu {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Ajout d'une flèche sous le dropdown */
.navbar .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 15px;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
}
